<html>

	<head class="mui-appbar">

		<link href="//cdn.muicss.com/mui-0.4.7/css/mui.min.css" rel="stylesheet" type="text/css" />
		<script src="//cdn.muicss.com/mui-0.4.7/js/mui.min.js"></script>

	</head>

	<header class="mui-appbar mui-container">

		<h1><%=@restaurant.name%></h1>

	</header>

	<body>

		<div class="mui-container">

				<section>

					<%= form_for(@restaurant) do |restaurant| %>

					<h3><%= restaurant.label :name %></h3>
					<%= restaurant.text_field :name %>

					<h3><%= restaurant.label :address %></h3>
					<%= restaurant.text_field :address %>

					<h3><%= restaurant.label :phone %></h3>
					<%=restaurant.text_field :phone %>

					<h3><%= restaurant.label :description %></h3> 

					<h3><%= restaurant.text_area :description %></h3>


					<%= restaurant.submit "Save", {class: 'mui-btn mui-btn--primary'} %>

					<% end %>
  

				</section>

		</div>

	</body>

</html>